.a {
  height: 100vh;
  display: flex;
  align-items: center;
}

.a_left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
}

.a_right {
  flex: 1;
}

.a_card_bg {
  position: absolute;
  top: 50px;
  left: 50px;
  background-color: #c2452d;
}

.a_card {
  width: 60%;
  height: 70vh;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
}

.a_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.a_award_img {
  width: 120px;
  height: 120px;
  border-radius: 20px;
}

.a_title {
  font-weight: 400;
}

.a_sub {
  margin: 20px 0px;
}

.a_desc {
  font-weight: 300;
}

.a_award {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}

.a_award_texts {
  width: 70%;
}

.a_award_title {
  font-weight: bold;
  color: #555;
  margin-bottom: 10px;
}

@media screen and (max-width: 480px) {
  .a {
    margin-top: 250px !important;
    flex-direction: column-reverse;
    text-align: center;
    margin-top: 50px;
  }

  .a_left {
    width: 100%;
  }

  .a_card {
    height: 30vh;
  }

  .a_card_bg,
  .a_award {
    display: none;
  }

  .a_right {
    padding: 20px;
  }
} ;
